# In class exercises - Intro to Pandas Series and DataFrames

## Import libs

In [4]:
import pandas as pd
from pandas import DataFrame, read_csv
import numpy as np
import matplotlib.pyplot as plt

import os
cwd = os.getcwd()

## First import 'response_time_data.csv' data file
* Contains RTs from 800 trials of a simple detection task from each of 20 subjects
* Organizing into a DataFrame and then saved out in csv format
* The index (row) and column labels are encoded in the csv file, so you'll need to read those in explcitly
* Make sure to have a look at the DataFrame - use the df.head() function

In [9]:
file_name = cwd + '/response_time_data.csv'

#Creating the data frame
df = pd.read_csv(file_name, index_col=0, header=0)
df.head()

df.to_csv('response_time_data.csv',index=True,header=True)

## Now have a look at the data using built in Padas functionality
* Check out the max/min of each row, standard deviation, percentiles, etc.

In [22]:
df.describe()

#Percentiles
df.describe(percentiles=np.linspace(0,1,11))

#Max/Min
print("Max: \n ")
print("\n", df.max(axis=1))

print("Min: \n ")
print("\n", df.min(axis=1))

#Standard deviation
print("Standard Deviation: \n")
print(df.std(axis=1))

Max:


 Tri0       8147.939691
Tri1       7410.337807
Tri2       7537.781867
Tri3       5431.187785
Tri4       8186.457041
Tri5       5268.016210
Tri6       6009.945843
Tri7       7505.781800
Tri8       5277.547086
Tri9       5802.017010
Tri10      9493.147896
Tri11      6855.044510
Tri12      7079.723259
Tri13      7583.853123
Tri14      8460.181684
Tri15      6603.612971
Tri16      6352.487413
Tri17      7033.016570
Tri18      6076.972257
Tri19      6875.100886
Tri20      7175.587179
Tri21      9126.489066
Tri22      6952.390799
Tri23      6783.466281
Tri24     10061.049263
Tri25      6404.474740
Tri26      6221.959882
Tri27      7500.719769
Tri28      6439.059402
Tri29      6449.023514
              ...
Tri770     8775.582668
Tri771     9753.921246
Tri772     8765.415950
Tri773     8407.932097
Tri774     7119.668571
Tri775     9133.851062
Tri776     4466.085911
Tri777     8827.325748
Tri778     6830.768774
Tri779     9756.056048
Tri780     9967.211069
Tri781     6253.286042
Tri782     5583.087318
Tri783     9772.163046
Tri784     7545.226232
Tri785     5764.741121
Tri786     6650.716001
Tri787    11944.107999
Tri788     7661.254945
Tri789     7768.737201
Tri790     5387.471180
Tri791     7865.373656
Tri792     4981.495428
Tri793     6936.139635
Tri794     5213.908137
Tri795     7542.080044
Tri796     6383.009192
Tri797     7408.190559
Tri798     8621.009037
Tri799    66666.000000
Length: 800, dtype: float64
Min:


 Tri0       143.695964
Tri1       786.895089
Tri2       435.950399
Tri3       104.448476
Tri4      1086.063139
Tri5        68.184823
Tri6       501.585571
Tri7       143.606176
Tri8      1069.322671
Tri9       233.150604
Tri10      738.715809
Tri11       14.216346
Tri12       37.948280
Tri13     1124.765465
Tri14       29.286915
Tri15     1057.886020
Tri16      345.901126
Tri17      293.872467
Tri18       20.223690
Tri19      194.371185
Tri20      354.741832
Tri21      385.817210
Tri22      105.080751
Tri23      567.936693
Tri24       32.019499
Tri25      259.467407
Tri26      587.611647
Tri27       23.429444
Tri28      765.461186
Tri29      213.195206
             ...
Tri770     201.555076
Tri771     968.723980
Tri772     253.650458
Tri773     788.957415
Tri774     234.181038
Tri775     478.139010
Tri776       2.748561
Tri777      98.144376
Tri778     478.314962
Tri779     169.207955
Tri780    1168.414376
Tri781    1109.216533
Tri782      91.023169
Tri783     801.468903
Tri784     264.197193
Tri785      68.064516
Tri786     474.145463
Tri787     859.124963
Tri788     174.671708
Tri789     769.815872
Tri790      23.718172
Tri791    1025.562265
Tri792     154.592033
Tri793     411.802772
Tri794     264.346041
Tri795     136.751172
Tri796      39.055602
Tri797     142.867085
Tri798      15.529804
Tri799     289.417464
Length: 800, dtype: float64
Standard Deviation:

Tri0       1876.863397
Tri1       1817.540782
Tri2       1716.308057
Tri3       1660.179746
Tri4       2231.765144
Tri5       1573.211978
Tri6       1439.639592
Tri7       2352.641780
Tri8       1319.850887
Tri9       1721.335760
Tri10      1912.459948
Tri11      1937.794339
Tri12      1840.218764
Tri13      1658.815109
Tri14      2457.077752
Tri15      1405.142242
Tri16      1671.517299
Tri17      1770.244515
Tri18      1714.695654
Tri19      2100.098665
Tri20      1598.741822
Tri21      2851.251714
Tri22      1909.808391
Tri23      1806.361143
Tri24      2340.749906
Tri25      1790.237107
Tri26      1745.761296
Tri27      2016.010462
Tri28      1902.922779
Tri29      1519.260807
              ...
Tri770     2490.699939
Tri771     2247.886244
Tri772     1942.184542
Tri773     2106.884781
Tri774     1941.918328
Tri775     2309.092739
Tri776     1421.065140
Tri777     1905.770089
Tri778     1708.065519
Tri779     2749.125263
Tri780     2311.090449
Tri781     1385.007017
Tri782     1726.907044
Tri783     1994.585678
Tri784     1912.140953
Tri785     1582.353830
Tri786     1869.312360
Tri787     2386.967296
Tri788     1610.624777
Tri789     2269.712461
Tri790     1467.651474
Tri791     1701.246657
Tri792     1396.011791
Tri793     1777.496972
Tri794     1385.099709
Tri795     2436.097320
Tri796     1703.669084
Tri797     1937.936032
Tri798     2167.106141
Tri799    14409.466450
Length: 800, dtype: float64

# Are there missing values (NaNs) in the data?

In [32]:
isNaN = np.sum(np.isnan(df), axis=0)
print(isNaN)

#Checking if any values in data are true. If so there are NaNs
if (isNaN.any(axis=0)):
    print("There are missing values in your data")

Sub0      0
Sub1      0
Sub2      0
Sub3      0
Sub4      4
Sub5      0
Sub6      0
Sub7      1
Sub8      0
Sub9      2
Sub10     0
Sub11    11
Sub12     0
Sub13     3
Sub14     3
Sub15     0
Sub16     0
Sub17    15
Sub18     7
Sub19     0
dtype: int64
There are missing values in your data

## What about outliers? Lets define outliers here as > 2 * std away from the mean for each subject
* After you've found the outliers for each subject, replace those values with a np.nan (NaN)

In [45]:
#d = df.describe()

std = df.std()
mu = df.mean()
print(std)

outlier = (df > (mu+std)) or (df < (mu - std))
print(outlier)

Sub0     1779.474153
Sub1     1476.122674
Sub2     1434.749989
Sub3     1722.695784
Sub4     1394.508376
Sub5     2544.771595
Sub6     1529.182544
Sub7     2000.548574
Sub8     1302.153904
Sub9     1935.519959
Sub10    1745.629161
Sub11    2662.686275
Sub12    2898.418570
Sub13    1452.494803
Sub14    2151.655387
Sub15    1976.030065
Sub16    1497.644375
Sub17    2648.316102
Sub18    1456.803723
Sub19    2051.493761
dtype: float64

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## After you've found the outliers and replaced with NaNs for each subject, check out this function:
[pandas.DataFrame.interpolate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate)

* Use this function to interpolate the missing values for each subject (do not interpolate across subjects!)
* Just use linear interpolation...

## You can explore the "Missing Values" page for Pandas to figure out other ways of filling in missing values and outliers

[page is here](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

* Figure out how to replace the outliers with the mean of each subject

## Use the Pandas.DataFrame.Sample function to generate bootstrapped confidence intervals for the data from subject 11

[see this page for Samples](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.sample.html)


* Resample Sub11's data with replacement, each time pulling N samples (800 in this case)
* Generate a distribution of means across all resamples
* Compute 95% confidence intervals using:

[this page for quantiles](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)